[Unit]
Description=Flask DMX Backend
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/dmx-licht/flask/app.py
WorkingDirectory=/home/pi/dmx-licht/flask
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
